---

---

<nav>
  <a href="/">
    <img
      class="logo"
      src="/images/pokemon-logo-pokemon-icon-transparent-free-png.webp"
      alt="logo-pokemon"
    />
  </a>

  <a class="menu-link" href="/pokemons/1">
    <img class="menu-img" src="/images/menu.webp" alt="logo-pokemon" />
  </a>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .menu-img {
    width: 8%;
    filter: drop-shadow(3px 1px 5px #515151);
  }

  nav .logo {
    width: 30%;
  }

  nav a {
    width: fit-content !important;
  }
  .menu-link {
    text-align: right;
  }
</style>
