---
import PokeCard from "../components/poke-card.astro";
import type { PokemonResult } from "../interfaces/pokemon-response.interface";

// interface Props{
//     data: PokemonResult[]
// }

// const url = 'https://pokeapi.co/api/v2/pokemon';

// const response = await fetch(url);
// const data = (await response.json()) as PokeApiReponse;
// console.log(data);

const { data } = Astro.props;
---

<section>
  <div class="container">
    {
      data.map((pokemon: any) => (
        <PokeCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </div>
</section>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    padding: 1rem;
  }

  @media (min-width: 1024px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
      padding: 0;
    }
  }
</style>
